name: Build RPM
permissions:
  contents: read
on:
  workflow_dispatch:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  merge_group:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        releasever: [rawhide, 44, 43, 42]
    container:
      image: ghcr.io/terrapkg/builder:f${{ matrix.releasever }}
      options: --cap-add=SYS_ADMIN --privileged
    steps:
      - name: Checkout Ultramarine repository
        uses: actions/checkout@v4
        with:
          repository: Ultramarine-Linux/packages
          fetch-depth: 0
      - name: Checkout Mock Configs
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          path: ultramarine

      - name: Set up git repository
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"

      - name: Include custom build template instead of package default
        run: cp -v mock-configs/ultramarine*.tpl /etc/mock/templates/

      - name: Build with Andaman
        run: anda build ultramarine-mock-configs/mock-configs -c mock-configs/ultramarine-${{ matrix.releasever }}-x86_64.cfg

      - name: Generating artifact name
        id: art
        run: |
          NAME=${{ matrix.pkg.pkg }}-${{ matrix.pkg.arch }}-${{ matrix.version }}
          x=${NAME//\//@}
          echo "name=$x" >> $GITHUB_OUTPUT

      - uses: actions/upload-artifact@v4
        with:
          name: mock-configs-f${{ matrix.releasever }}
          compression-level: 0 # The RPMs are already compressed :p
          path: |
            anda-build/rpm/rpms/*
            anda-build/rpm/srpm/*
